.biggest-falls {
  .biggest-falls-box {
    position: relative;
    background-color: #FFFFFF;
    border-radius: 1rem;
    box-shadow: 0px 2px 7px #8963ba33;
    
    height: fit-content;
    margin-top: 1rem;
    padding: 1rem 0rem;
  }
}
